{%extends "layout.html" %}
{% block head%}
<script type="text/javascript">
$(document).ready(function() {
	$('#addOliner').click(function(){
		$('#loading').show();
		$('#addOliner').hide();
		$.post('/oliners', 
			{ email: $('#email').val()},
			function(data){
				console.log(data);
				$('#loading').hide();
				if ('error' in data){
					// display error
					$('#emailError').html(data.error);
					$('#emailError').show();
					$('#emailSuccess').hide();
					$('#addOliner').show();
				}
				else if ('success' in data){
					// display success message
					$('#emailError').hide();
					$('#emailSuccess').show();
					$('#emailSuccess').html(data.success);
				}
			},
			'json'
		)
		return false;
	});
});	
</script>
{% endblock %}
{% block body %}
	<div id="splashDiv" style="height:450px;">
	<div class="content" style="float:left; ">
		<div class="forTitle">
			For Olin students
		</div>
		<ul class="contentList">
			<li>Sign up for the email list and you'll be sent a list of curated, <b>interesting</b> project requests every week.</li>
			<li>1 email a week max; <b>no more spam.</b></li>
			<li>No one gets your email unless you decide to respond to a project request.</li>
			<li>Get some experience before lanching that startup of yours.</li>
			<li>Just enter your email here and click the stupidly large button<br/>
			<input type="text" id="email"/><label style="font-size:12px;">@students.olin.edu</label></li>
		</ul>
		<div id="emailError" class="error"></div>
		<div id="emailSuccess" class="success"></div>
		<div id="loading" class="loading" style="margin-left:170px; display:none;"> </div>
	<a href='#' id="addOliner" class="wide button red">Sounds good! Add me to the mailing list!</a>
	</div>
	
	<div class="content"  style="float:right;">
		<div class="forTitle">
			For people who want things done
		</div>
		<div class="info">
			
		</div>
		<ul class="contentList">
			<li><label style="color:#AB1A23;">Need some engineering muscle?</label> <br/>
				<a href="">Olin</a> is a small engineering school with a focus on real world problems and <b>getting things done</b>.
			</li>
			<li><label style="color:#AB1A23;">Need something quick?</label> <br/>
				Olin starts teaching rapid prototyping during the admissions process even before students are admitted. 
			</li>
			<li>Fill out <b>1 simple form</b> to send out information to interested students. No more flyers and list spamming.</li>
			<li><b>Free. No registration needed.</b></li>
		</ul>
	<a href="/requests" class="wide button red" style="margin-top:7px;">I have an interesting problem that needs solving!</a>
	</div>
	</div>
	
{% endblock %}
