{%extends "layout.html" %}
{% block head%}
<script type="text/javascript">
$(document).ready(function() {
	$('#detail').keyup(function(){
		var len = $(this).val().length;
		$('#projCountdown').html(650-len);
	});
	
	$('#submit').click(function(){
		$('#loading').show();
		$('#submit').hide();
		$.post('/requests',
		
			{ name:$('#name').val(), email: $('#email').val(), 
			needs:$('#needs').val(), detail: $('#detail').val(),
			payment:$('#payment').val(), timeframe: $('#timeframe').val()},
			function(data){
				console.log(data);
				$('#loading').hide();
				if ('error' in data){
					// display error
					$('#error').html(data.error);
					$('#error').show();
					$('#success').hide();
					$('#submit').show();
				}
				else if ('success' in data){
					// display success message
					$('#error').hide();
					$('#success').show();
					$('#success').html(data.success);
				}
			},
			'json'
		)
		return false;
	});
});	
</script>
{% endblock %}
{% block body %}
	<div id="requestDiv">
	<form method="post">
		<table>
		<!-- I don't usually use tables, but when I do IT BETTER FUCKING SCALE -->
		<tr>
			<td width="400px"></td>
			<td>
				<table style="border-spacing:0px;">
					<tr>
						<td >
							<div class="label">Name</div> 
							<input type="text" name="name" id="name" style="margin-right:20px;"/>
						</td>
						<td >
							<div class="label">Email</div> 
							<input type="text" name='email' id="email" style=""/>
						</td>
					</tr>
				</table>
			</td>
		</tr>
		<tr>
			<td>	
				<p class="triangle-isosceles right bubbleText">
					650 char max description of what you're working on and how far along it is. 
				</p>
			</td>
			<td>
				<div class="label">Project description <label id="projCountdown" style="font-size:12px; font-weight:normal;color:#AB1A23;">(650 char)</label></div>
				<textarea id="detail" name='detail' style="width:100%; height:120px;"></textarea>
			</td>
		</tr>
		<tr>
			<td>
				<p class="triangle-isosceles right bubbleText">
				Break down the project into weekend long bits to start with. 
				Need an entire site done? How about just 1-2 features for a start?
				</p>
			</td>
			<td>
				<div class="label">What needs to get done</div> 
				<textarea name='needs' id="needs" style="width:100%; height:80px;"></textarea>
			</td>
		</tr>
		<tr>
			<td>
				<p class="triangle-isosceles right bubbleText">
				Cash money? Equity? Peanut Butter cups?
				<br/>
				Are you a marketing guru? 
				You might be able to trade that for some python hacks.
				</p>
			</td>
			<td>
				<div class="label">What I'm giving in return</div>
				<textarea name='payment' id="payment" style="width:100%; height:50px;"></textarea>
			</td>
		</tr>
		<tr>
			<td>
			</td>
			<td>
				<div class="label">Timeframe I'm looking at </div>
				<textarea name="timeframe" id="timeframe" style="width:100%; height:50px;"></textarea>
			</td>
		</tr>
		</table>
		<div id="error" class="error" style="margin-left:400px; margin-top:10px;"></div>
		<div id="success" class="success" style="margin-left:400px; margin-top:10px;"></div>
		<div id="loading" class="loading" style="margin-left:620px; margin-top:10px; display:none;"> </div>
		<input type="submit" class="button red" value="submit" id="submit" style="margin-top:10px; margin-left:405px; margin-bottom:30px; width:460px;"/>
	</form>
	</div>
{% endblock %}
